* {
    box-sizing: border-box;
}

body {
    background-image: url('./images/pattern-background-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    justify-content: center;
}

.card {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-top: 100px;

    justify-content: center;
    text-align: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px hsl(224, 23%, 55%);
}

.card__image {
    position: absolute;
    top: 0px;
    width: 300px;
    border-radius: 5% 5% 0% 00%;
}

.card__header {
    margin-top: 100px;
}

.card__plan {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    align-items: center;
    }
